@font-face {
    font-family: 'Roboto', sans-serif;
    src: url("../assets/fonts/Roboto-Regular.ttf");
}

* {
    box-sizing: border-box;
}

.container {
    max-width: 1440px;
    margin: 0 auto;
}

html {
    scroll-behavior: smooth;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  max-height: 350px;
  font-family: Montserrat;
  background-color: #202026;
  color: #2d2d2d;
  text-transform: uppercase;
  /*-webkit-box-align: center;*/
  /*    -ms-flex-align: center;*/
  /*        align-items: center;*/
  /*-webkit-box-pack: justify;*/
  /*    -ms-flex-pack: justify;*/
  /*        justify-content: space-between;*/
}


aside {
    width: 40%;
    padding-left: .5rem;
    margin-left: .5rem;
    float: left;
    box-shadow: inset 5px 0 5px -5px #29627e;
    font-style: italic;
    color: #29627e;
}

aside > p {
    margin: .5rem;
}

p {
    font-family: 'Roboto', sans-serif;
}

body {
    font-family: 'Roboto', sans-serif;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

footer {
    background-color: #242424;
    display: block;
    justify-content: center;
}